<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="{% url 'basket' %}" class="nav-link">Basket</a></li>
        <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link">Contacts</a></li><li class="nav-item"><a href="{% url 'login' %}" class="nav-link active" aria-current="page">Login</a></li>
      </ul>
    </header>